<div class="panel panel-default">
  <footer class="panel-footer">
     <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 fbox">
                    <h4>COMPANY NAME</h4>
                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam congue lectus diam, sit amet cursus massa efficitur sed. </p>
                    <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>                        
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 fbox">
                    <h4>SERVICES</h4>
                    <ul class="text-info">                       
                        <li><a href="#" title="">Title One</a></li>
                        <li><a href="#" title="">Title Two</a></li>
                        <li><a href="#" title="">Title Three</a></li>
                        <li><a href="#" title="">Title Four</a></li>
                        
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 fbox">
                    <h4>CONTENT</h4>
                    <ul class="text-info">
                        <li><a href="#" title="">Title One</a></li>
                        <li><a href="#" title="">Title Two</a></li>
                        <li><a href="#" title="">Title Three</a></li>
                        <li><a href="#" title="">Title Four</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 fbox">
                    <h4>CONTENT</h4>
                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <p><a href="tel: +57 2 8202020"><span class="ion-social-facebook-outline" aria-hidden="true"></span>  +57 2 8202020</a></p>
                    <p><a href="mailto:dao@dao.com.co"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> dao@dao.com.co</a></p>
                </div>
            </div>
        </footer>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-4">
            <p class="pull-left">&copy; 2017 dao.com.co</p>
        </div>
        <div class="col-md-8">
            <ul class="list-inline navbar-right">
                <li><a href="index.html">Inicio</a></li>
                <li><a href="empresa.html">Nuestra Empresa</a></li>
                <li><a href="corporativo.html">Corporativo</a></li>
                <li><a href="category.html">Fondo de Empleados</a></li>
            </ul>
        </div>
    </div>
</div>
 

